In [1]:
#importing dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
#Storing csv into DF

Avocado_csv = "Resources/Avocado.csv"

Avocado_df = pd.read_csv(Avocado_csv)
Avocado_df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,2015-01-11,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.0,conventional,2015,Albany
2,2015-01-18,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.0,conventional,2015,Albany
3,2015-01-25,1.06,45147.50,941.38,33196.16,164.14,10845.82,10103.35,742.47,0.0,conventional,2015,Albany
4,2015-02-01,0.99,70873.60,1353.90,60017.20,179.32,9323.18,9170.82,152.36,0.0,conventional,2015,Albany

0        False
1        False
2        False
3        False
4        False
         ...
27318     True
27319     True
27320     True
27321     True
27322     True
Length: 27323, dtype: bool

In [3]:
#Creating new data with select columns
Avocado_date= Avocado_df.loc[(Avocado_df["Date"] >= "2016-01-01")]
cols= ["Date", "AveragePrice", "Total Volume","region"]
rows= Avocado_date["region"].isin(["Sacramento", "San Francisco", "Los Angeles"])
new_avo_df= Avocado_date[rows][cols].copy()

In [4]:
new_avo_df.head()

            Date  AveragePrice  Total Volume       region
5566  2016-01-04          0.64    3967109.33  Los Angeles
5567  2016-01-10          0.74    3172437.94  Los Angeles
5568  2016-01-17          0.76    2952576.85  Los Angeles
5569  2016-01-24          0.76    3173509.36  Los Angeles
5570  2016-01-31          0.74    3197788.06  Los Angeles

In [5]:
#Rename Columns
renamed_avo_df= new_avo_df.rename(columns={'Date': 'date','AveragePrice':'averageprice', 'Total Volume': 'totalvolume', 'region': 'county'})

In [34]:
real_df= renamed_avo_df.groupby(['date','county']).mean().dropna( )

real_df.head()

                          averageprice  totalvolume
date       county
2016-01-04 Los Angeles           0.895  2014002.975
           Sacramento            1.320   260014.570
           San Francisco         1.430   468846.505
2016-01-10 Los Angeles           0.910  1626232.685
           Sacramento            1.380   220584.240

In [39]:
rds_connection_string = "amandaplesa:postgres@localhost:5432/Avocado_db"
#engine = create_engine(f'postgresql://{rds_connection_string}')
    
engine = create_engine('postgresql+psycopg2://amandaplesa:postgres@localhost:5432/Avocado_db')
real_df.to_sql('weather', engine, if_exists='append', index=False)

In [40]:
engine.table_names()

['avocado_data', 'weather']

In [41]:
real_df.to_sql(name= 'avocado_data', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "date" violates not-null constraint
DETAIL:  Failing row contains (null, null, null, 1, 2014003).

[SQL: INSERT INTO avocado_data (averageprice, totalvolume) VALUES (%(averageprice)s, %(totalvolume)s)]
[parameters: ({'averageprice': 0.895, 'totalvolume': 2014002.975}, {'averageprice': 1.3199999999999998, 'totalvolume': 260014.56999999998}, {'averageprice': 1.43, 'totalvolume': 468846.505}, {'averageprice': 0.91, 'totalvolume': 1626232.685}, {'averageprice': 1.38, 'totalvolume': 220584.24000000002}, {'averageprice': 1.5699999999999998, 'totalvolume': 391704.06999999995}, {'averageprice': 0.97, 'totalvolume': 1509220.325}, {'averageprice': 1.415, 'totalvolume': 222118.745}  ... displaying 10 of 603 total bound parameter sets ...  {'averageprice': 1.495, 'totalvolume': 190039.0}, {'averageprice': 1.695, 'totalvolume': 353031.5})]
(Background on this error at: http://sqlalche.me/e/gkpj)